---
import { formatDate } from '~/utils'
interface Props {
  post: Post
}

const { post } = Astro.props
const { translate: t } = Astro.locals
---

<article class="heti">
  <header class="text-center">
    <h1>
      {post.data.title}</a>
    </h1>
  </header>
  <slot />
</article>
