---
import { formatDate } from '~/utils'
interface Props {
  post: Post
}

const { post } = Astro.props
const { translate: t } = Astro.locals
---

<article class="heti">
  <header class="text-center">
    <h1 class="!m-0">
      {post.data.title}
    </h1>
    <div class="mt-1 text-3.5">
      <time>{formatDate(post.data.pubDate)}</time>
    </div>
  </header>
  <slot />
</article>
